body {
    margin: 60px auto;
    padding: 10px auto;
    width: 75%;
    background: #3a92b2
}
nav ul, footer ul {
    font-family:'Century Gothic', 'Arial', 'Arial';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #d3d444;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 50px;
    font-family:'Century Gothic', 'Arial', 'Arial';
    float: center;
    color: #d3d444;
    column-span: all;
}
h2 {
    font-size: 25px;
    font-family:'Century Gothic', 'Arial', 'Arial';
    column-span: all;
}
p {
    font-family: 'Arial';
    font-size: 20px;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d3d444;
    font-size: .8em;
    column-span: all;
}
line {
    border-top: 1px solid #d3d444;
}
column {
    column-rule: 1px solid #d3d444;
    column-width: 100px;
}
