body {
    margin: 60px auto;
    padding: 10px auto;
    width: 75%;
    background: #3a92b2;
}
nav ul, footer ul {
    font-family:'Century Gothic', 'Arial', 'Arial';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.5em;
}
a {
    text-decoration: none;
    color: #d3d444;
    font-family:'Century Gothic';
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 50px;
    font-family:'Century Gothic', 'Arial', 'Arial';
    float: center;
    color: #d3d444;
    column-span: all;
    text-align: center;
}
h2 {
    font-size: 22px;
    font-family:'Century Gothic', 'Arial', 'Arial';
    column-span: all;
    text-align: center;
}
h3 {
    font-size: 22px;
    font-family:'Arial';
    column-span: all;
    text-align: center;
}
h4 {
    font-size: 18px;
    font-family:'Arial';
    column-span: all;
    text-align: center;
}
h5 {
    font-size: 30px;
    font-family:'Century Gothic';
    column-span: all;
    text-align: center;
    color: #d3d444;
}
h6 {
	font-family:'Century Gothic';
	font-size:50px;
	color: #d3d444;
}
p {
    font-family: 'Arial';
    font-size: 18px;
    line-height: 1.5em;
    color: #333;
}
footer {
	font-size: 1.5em;
    column-span: all;
}
line {
    border-top: 1px solid #d3d444;
}
img {
	background-image:none;
	padding: 10px auto;
}
.borderimg {
	background-image:none;
	padding: 10px auto;
	border:10px solid #FFFFFF;
}
.socialimg {
	margin:none;
}
.centerimg {
	margin:auto;
	display:block;
}
.right {
	float:right;
}
.left {
	float:left;
}
